.tooltip {
  background-color: #000000;
  color: #ffffff;
  padding: 16px 24px;
  position: absolute;
  bottom: 100px;
  left: 45%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.visible {
  opacity: 1;
}

.iconContainer {
  background-color: var(--brown);
  color: #ffffff;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}

.anchor:hover {
  text-decoration: none;
  color: #ffffff;
}

.anchorText {
  color: var(--teal);
}

.anchorText:hover {
  color: var(--teal);
  text-decoration: none;
  border-bottom: solid 3px var(--teal);
}

@media (min-width: 992px) {
  .entry {
    display: flex;
    flex-direction: row;
    padding-left: 48px;
  }

  .tooltip {
    left: 10px;
    bottom: 80px;
  }

  .anchorText {
    font-size: 1.25rem;
    font-weight: 300;
  }
}
