.title {
  color: #ffffff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-weight: 300;
  line-height: 1.5;
}

.tealBack {
  background-color: var(--teal);
  padding: 0 8px;
}

.container {
  height: 100vh;
  background: url("/862227.jpg");
  width: 100%;
}

.tealUnderline {
  border-bottom: solid 5px var(--tealLine);
}

@media only screen and (max-width: 991px) {
  .title {
    font-size: 1.6rem;
  }
  .container {
    height: calc(100vh - 90px);
  }
}
